
    $Purple:#B412FF;
    $Blue:#2228FF;
    $Blue2:#1364E8;
    $Blue-Ligth:#2FC1F4;
    $Blue-purple:#5813E8;
    $black:#141414;

    $FullHD:1920px;
    $HD:1280px;
    $tablet:768px;
    $phone:414px;
    $sphone:360px;